body {
    text-align: center;
}

#panel,
#flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}

.title {
    font-weight: 600;
    color: red;
    text-decoration: underline;
    font-style: italic;
}

h1 {
    text-decoration: overline
}

h2 {
    color: green;
    /* border: 4px solid red; */
    text-decoration: underline overline green;
}

.tadam:hover {
    text-shadow: 2px 2px 0px red;
    transition: 0.2s;
    transform: scale(1.1);
    transition: 1s;
}

.tadam {
    font-size: 2em;
    font-weight: bold;
}